body {
    background: #890D15;    
}
#form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 450px;
    height: 450px;
    margin: -255px 0 0 -225px;
}
#form img {
    margin-bottom: 15px;
}
#content {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
#system-select li {
    float: left;
    width: 80px;
    height: 100px;
    border: none;
    margin: 84px 27px 0 61px;
    padding: 5px 20px;
    background: #E39D01;
    color: #7C0324;
    font-weight: bold;
    font-size: 32px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow:hidden;
}
#system-select li:hover {
    background: #FEE101;
}

#system-select li p {
    display: block;
    margin: 16px 0;
}

#alert-message {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 270px;
    margin: -135px 0 0 -300px;
}

#alert-content {
    height: 120px;
    text-align: left;
}