/* content */
body {
    background: #890D15;
}

#content {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/* form */
#form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 460px;
    height: 450px;
    margin: -255px 0 0 -225px;
}

#form img {
    margin-bottom: 15px;
}

#form label {
    display: block;
    margin: 30px 0;
    font-size: 20px;
    color: white;
    font-family:'SimHei';
}

#form label input {
    width: 250px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

#landed span {
    width: 120px;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    margin: 0 55px;
    background: #E39D01;
    color: #7C0324;
    font-weight: bold;
    font-size: 24px;
    font-family: 'SimHei';
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#landed span:hover {
    background: #FEE101;
}